<ion-header>
  <ion-navbar>
    <ion-title>
      Log in
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" formControlName="emailField"></ion-input>
      </ion-item>
      <ion-item *ngIf="emailField.hasError('required') && emailField.touched">
        <p>Email is required</p>
      </ion-item>
      <ion-item *ngIf="emailField.hasError('email') && !emailField.hasError('required') && emailField.touched">
        <p>Invalid email</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" formControlName="passwordField"></ion-input>
      </ion-item>
      <ion-item *ngIf="passwordField.hasError('required') && passwordField.touched">
        <p>Password is required</p>
      </ion-item>

      <ion-item>
        <button ion-button (click)='login()' [disabled]="!form.valid">Log in</button>
        <button ion-button (click)='signup()' color="light">Sign up</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
